html,body, #root{
  margin:0;
  padding:0;
  position: relative;
  width:100%;
  height:100%;
  background-color: #d3e9fc;
}
.App{
  position:absolute;
  left: 50%;
  top :50%;
  transform: translate(-50%,-50%);
  width:80%;
}
.CreditCardForm{
  position:relative;
  background-color:#fff;
}

.CreditCardPreview{
  position: relative;
  background-image: url('./images/6.jpeg');
  max-width: 400px;
  max-height: 251px;
  height: 30vw;
  padding: 20px;
  margin:0 auto;
  width: 100%;
  -webkit-box-shadow: 1px 5px 6px 0px black;
  box-shadow: 1px 5px 6px 0px black;
  border-radius: 22px;
  top:-50%;
  z-index: 2;
  color : #fff;
}

.field{
  padding:10px 20px;
  margin:0;
}

.field label, .field input{
  display: block;
}

.field input{
  width:100%;
  padding: 10px 10px;
  border: 1px solid #666;
  margin: 0;
}

button{
  display :block;
  width: 80%;
  margin: 0 auto;
  padding:10px 15px;
  background-color: #0d6efd;
  color:#fff;
  border:transparent
}

.CreditCardChip{
  background-image:url('./images/chip.png');
  width: 60px;
  height: 50px;
  display: block;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  left:0;
  top:0;
}

.CreditCardBrand {
  position : absolute;
  background-image:url('./images/visa.png');
  width : 60px;
  height : 50px;
  display: block;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  right: 20px;
  top: 20px;
}

.CreditCardNumber{
  position: absolute;
  top:50%;
  transform: translateY(-50%);
}

.CreditCardHolderName{
  position : absolute;
  bottom: 10px;
  left: 20px;
}

.CreditCardExpirationDate{
  position: absolute;
  bottom: 5px;
  right: 20px;
}